@import "../convert";
@import "../mixinMain";

.brgr {
  width: 44px;
  height: 37px;
}

.brgr-container {
  .brgr-container__brgr {
    @include main-centered(flex, flex-end);

    .brg-cont-lines {
      width: 44px;
      height: 37px;
      background-color: #000;

      @include main-centered(flex, center);

      .brgr_line {
        width: 17px;
        height: 2px;

        margin: convert-rem(2);
        background-color: #fff;
        transition: all 0.3s ease-out;
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .brgr_cross {
    width: 44px;
    height: 37px;
    background-color: #000;
    transition: all 0.3s ease-out;
    display: none;

    ._paint {
      width: 17px;
      height: 2px;
      background-color: #fff;
    }

    .brgr_cross_line {
      position: relative;
      bottom: -2px;
      transform: rotate(45deg);
    }

    .brgr_cross_line_cross {
      position: relative;
      transform: rotate(-45deg);
    }
  }

  .brgr-show {
    @include main-centered(flex);
    position: absolute;
  }
}
