/*----------------Global styles -----------------*/
@import "./convert.scss";

/*----------------Local styles ------------------*/
@import "./header/_burgerBtn"; //burger menu button

.fixed-nav {
  margin: convert-rem(28);
  margin-bottom: 0;
  width: 100%;

  .relative-parent {
    position: relative;
    margin-right: convert-rem(25);
    width: auto;
    top: 0;
  }

  .nav {
    display: none;
    @include nav();
    width: 182px;
    position: absolute;
    right: 0;
    .nav__item {
      padding: convert-rem(8) convert-rem(13);

      .item_link {
        @include reset-link(#4e4e4e);
        &-home {
          @include reset-link(#57a4a4);
        }
      }
    }
    @media (min-width: 768px) {
      @include main-centered(flex, center, center, row);
      margin: 0 auto;
      width: 100%;
      background-color: #fff;
    }
  }

  .nav-hide {
    display: block;
  }
  @media (min-width: 768px) {
    margin: 25px auto;
  }
}

.nav__item:hover {
  background-color: #e5e5e5;
}

.header {
  .container__img {
    margin: convert-rem(25);
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-right: convert-rem(80);
      margin-left: convert-rem(80);
    }
    .img_head {
      max-width: 100%;
    }
  }
}
