@import "../_mixinMain";
@import "_media768";
@import "_media1200";

.ctn__new-imgs {
  margin-top: convert-rem(38);
  margin-bottom: convert-rem(38);

  .ctn__headers {
    margin-bottom: convert-rem(23);
    @include headers(#4e4e4e);
  }
  .ctn__img_news {
    width: convert-rem(160);
    height: convert-rem(140);
  }
  .new-imgs_header {
    margin-top: convert-rem(11);
    @include headers($ln-hgt: 30px, $txt-transf: none);
  }
  .new-imgs_info {
    @include headers(
      $clr: $main-color,
      $ln-hgt: 20px,
      $txt-transf: none,
      $ft-weight: 400,
      $ft-size: 11px
    );
    margin-bottom: convert-rem(28.5);
  }
}

.ctn__insta {
  width: 100%;
  margin-top: convert-rem(76);
  .ctn__headers {
    @include headers(#4e4e4e);
  }
  .ctn__img {
    margin: convert-rem(13) auto convert-rem(42);
  }
}

.hide,
.inst,
.inst-big {
  display: none;
}
