@media (min-width: 768px) {
  .main-ctn {
    width: 100%;

    .inst {
      display: inline-block;
    }
    .hide {
      display: inline;
    }

    .ctn__headers {
      @include headers(
        $ln-hgt: 22px,
        $txt-transf: uppercase,
        $ft-weight: 700,
        $ft-size: 16px
      );
    }

    .ctn__new-imgs {
      margin: convert-rem(80);
      @include main-centered(
        flex,
        $align-center: flex-start,
        $j-center: center,
        $flex-dir: column
      );

      .new-imgs__containers {
        display: flex;
        margin-top: convert-rem(30);

        .ctn__txt {
          margin-left: convert-rem(20);
          .new-imgs_header {
            margin-top: 0;
            @include headers(
              $clr: #4e4e4e,
              $ln-hgt: 30px,
              $txt-transf: none,
              $ft-size: 16px
            );
          }
          .new-imgs_info {
            @include headers(
              $clr: #7c7c7c,
              $ln-hgt: 20px,
              $txt-transf: none,
              $ft-weight: 400,
              $ft-size: 12px
            );
            margin-bottom: convert-rem(13);
          }
          .new-imgs_txt {
            @include headers(
              $clr: #5c5c5c,
              $ln-hgt: 26px,
              $txt-transf: none,
              $ft-weight: 400,
              $ft-size: 14px
            );
          }
        }
      }
    }

    .ctn__insta {
      @include main-centered(flex);
      padding: convert-rem(50);
      background-color: #00000009;
      box-sizing: border-box;
      .img {
        width: 100%;

        .ctn__img {
          margin: 0;
          display: flex;
          justify-content: space-around;
        }
        .header_inst {
          display: flex;
          justify-content: space-between;
          margin-bottom: 35px;
          @include headers(
            $ln-hgt: 22px,
            $txt-transf: uppercase,
            $ft-weight: 700,
            $ft-size: 16px
          );
        }
        .inst {
          @include headers(
            $ln-hgt: 22px,
            $txt-transf: uppercase,
            $ft-weight: 700,
            $ft-size: 13px
          );
        }
        .inst-big {
          display: none;
        }
        .img_inst {
          width: 249px;
          height: 249px;
          margin: auto convert-rem(3) auto;
        }
      }
    }
  }
}
