@media (min-width: 1200px) {
  .main-ctn {
    width: 100%;

    .inst {
      display: inline-block;
    }
    .hide {
      display: inline;
    }

    .ctn__headers {
      @include headers(
        $ln-hgt: 22px,
        $txt-transf: uppercase,
        $ft-weight: 700,
        $ft-size: 16px
      );
    }
    .ctn__new-imgs {
      margin: convert-rem(80);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .head-grid {
      grid-area: 1/1/ 3/3;
    }
  }
  .ctn__insta {
    .img {
      .show-big {
        .inst-big {
          display: inline-block;
        }
      }
    }
  }
}
