@import "_varMain";

/*-------------------------------------- Global Mixins ----------------------------*/
//seting-fonts
@mixin font-style($size, $color: $main-color, $font: $main-font) {
  font-family: $font;
  font-style: normal;
  font-size: $size;
  color: $color;
}

//set display
@mixin main-centered(
  $flex,
  $align-center: center,
  $j-center: center,
  $flex-dir: column
) {
  display: $flex;
  align-items: $align-center;
  justify-content: $j-center;
  flex-direction: $flex-dir;
}

//set headers
@mixin headers(
  $clr: $main-color,
  $ln-hgt: 22px,
  $txt-transf: uppercase,
  $ft-weight: 700,
  $ft-size: 14px
) {
  font-weight: $ft-weight;
  font-size: $ft-size;
  line-height: $ln-hgt;
  text-transform: $txt-transf;
  color: $clr;
}

//nav links list
@mixin nav() {
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-align: left;
  list-style: none;
  background-color: #f5f5f5;
}

//reset link color&style
@mixin reset-link($color, $txt-decor: none) {
  color: $color;
  text-decoration: $txt-decor;
}
