<div class="brgr-container">
  <span class="brgr">
    <span class="brgr-container__brgr">
      <span class="brg-cont-lines">
        <span class="brgr_line"></span>
        <span class="brgr_line"></span>
        <span class="brgr_line"></span>
      </span>

      <span class="brgr_cross">
        <span class="brgr_cross_line _paint"> </span>
        <span class="brgr_cross_line_cross _paint"> </span>
      </span>
    </span>
  </span>
</div>
