<footer class="footer">
  <article class="footer__content">
    <h3 class="footer__content_header">- get in touch with us -</h3>
    <p class="footer__content_txt">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio.
      <span class="txt-shows">
        Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
      </span>
    </p>
    <section class="social-links">
      <ul class="social-links__list">
        <li class="list__item">
          <a
            class="item_ico color_rss"
            href="https://uk.wikipedia.org/wiki/RSS"
          >
            <i class="fas fa-rss"></i>
          </a>
        </li>
        <li class="list__item">
          <a class="item_ico color_face" href="https://www.facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list__item">
          <a class="item_ico color_twit" href="https://twitter.com/?lang=uk">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list__item">
          <a class="item_ico color_drib" href="https://dribbble.com/">
            <i class="fab fa-dribbble"></i>
          </a>
        </li>
        <li class="list__item">
          <a class="item_ico color_pint" href="https://www.pinterest.com/">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <address class="contact__link">
        Moonshine St. 14-05 Light City <span>&#47; </span>
      </address>

      <a class="contact__link" href="tel:+00 (123) 456 78 90">
        T. +00 (123) 456 78 90 <span> &#47; </span>
      </a>

      <a class="contact__link" href="mailto:">first.last@email.com</a>
    </section>
  </article>
</footer>
