<div class="fixed-nav">
  <div class="relative-parent">
    @@include('./_brgBtn.html')

    <nav class="nav">
      <li class="nav__item"><a class="item_link-home" href="#">Home </a></li>
      <li class="nav__item"><a class="item_link" href="#">about us </a></li>
      <li class="nav__item"><a class="item_link" href="#">our journal </a></li>
      <li class="nav__item"><a class="item_link" href="#">projects </a></li>
      <li class="nav__item"><a class="item_link" href="#">news </a></li>
      <li class="nav__item"><a class="item_link" href="#">features </a></li>
      <li class="nav__item"><a class="item_link" href="#">contact </a></li>
    </nav>
  </div>
</div>
<header class="header">
  <div class="container__img">
    <img
      class="img_head"
      src="./dist/img/intro-img1.png"
      srcset="./dist/img/intro-img1_2x.png 2x, ./dist/img/intro-img1-3x.png 3x"
      alt="relway"
    />
  </div>
</header>
