<main class="main-ctn">
  <article class="ctn__new-imgs">
    <h3 class="ctn__headers head-grid">- our Recent posts</h3>
    <div class="new-imgs__containers heder-post">
      <img
        class="ctn__img_news"
        src="./dist/img/post-img1.png"
        srcset="./dist/img/post-img1_2x.png 2x, ./dist/img/post-img1_3x.png 3x"
        alt="bike"
      />
      <div class="ctn__txt">
        <h4 class="new-imgs_header">Aenean Adipiscing Etiam Vestibulum</h4>
        <p class="new-imgs_info">Photography, Journal / 9 Comments</p>
        <p class="new-imgs_txt hide">
          Etiam porta sem malesuada euismod. Aenean leo quam. <br />
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="new-imgs__containers">
      <img
        class="ctn__img_news"
        src="./dist/img/post1img1.png"
        srcset="./dist/img/post1img1_2x.png 2x, ./dist/img/post1img1_3x.png 3x"
        alt="bike"
      />
      <div class="ctn__txt">
        <h4 class="new-imgs_header">Aenean Adipiscing Etiam Vestibulum</h4>
        <p class="new-imgs_info">Photography, Journal / 9 Comments</p>
        <p class="new-imgs_txt hide">
          Etiam porta sem malesuada euismod. Aenean leo quam. <br />
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="new-imgs__containers">
      <img
        class="ctn__img_news"
        src="./dist/img/post4img1.png"
        srcset="./dist/img/post4img1_2x.png 2x, ./dist/img/post4img1_3x.png 3x"
        alt="bike"
      />
      <div class="ctn__txt">
        <h4 class="new-imgs_header">Aenean Adipiscing Etiam Vestibulum</h4>
        <p class="new-imgs_info">Photography, Journal / 9 Comments</p>
        <p class="new-imgs_txt hide">
          Etiam porta sem malesuada euismod. Aenean leo quam. <br />
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
    <div class="new-imgs__containers hide">
      <img
        class="ctn__img_news"
        src="./dist/img/post6img1.png"
        srcset="./dist/img/post6img1_2x.png 2x, ./dist/img/post6img1_3x.png 3x"
        alt="bike"
      />
      <div class="ctn__txt">
        <h4 class="new-imgs_header">Aenean Adipiscing Etiam Vestibulum</h4>
        <p class="new-imgs_info">Photography, Journal / 9 Comments</p>
        <p class="new-imgs_txt hide">
          Etiam porta sem malesuada euismod. Aenean leo quam. <br />
          Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
      </div>
    </div>
  </article>
  <article class="ctn__insta">
    <section class="img">
      <div class="header_inst">
        <h3 class="ctn__headers">- Last Instagram Shot</h3>
        <h4 class="ctn__headers inst">go to our instagram page -</h4>
      </div>
      <div class="ctn__img">
        <img
          class="img_inst"
          src="./dist/img/post-1.png"
          srcset="./dist/img/post-1_2x.png 2x, ./dist/img/post-1_3x.png 3x"
          alt="bike"
        />
        <div class="ctn__img inst">
          <img
            class="img_inst"
            src="./dist/img/post-2.png"
            srcset="./dist/img/post-2_2x.png 2x, ./dist/img/post-2_3x.png 3x"
            alt="bike"
          />
        </div>
        <div class="ctn__img inst">
          <img
            class="img_inst"
            src="./dist/img/post-3.png"
            srcset="./dist/img/post-3_2x.png 2x, ./dist/img/post-3_3x.png 3x"
            alt="bike"
          />
        </div>
        <div class="show-big">
          <div class="ctn__img inst-big">
            <img
              class="img_inst"
              src="./dist/img/post-4.png"
              srcset="./dist/img/post-4_2x.png 2x, ./dist/img/post-4_3x.png 3x"
              alt="bike"
            />
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
