@mixin footer-centered(
  $flex: flex,
  $align-center: center,
  $center: center,
  $flex-dir: column
) {
  display: $flex;
  align-items: $align-center;
  justify-content: $center;
  flex-direction: $flex-dir;
}

@mixin paragraph($color) {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $color;
}

@mixin border-link() {
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}
