//global files mixin
@import "_mixinMain";
@import "_convert";

//local variebles & mixins
@import "__media768";
@import "_footerMixin";
@import "_footerVar";
@import "_links";

.footer {
  background-color: $bg-color;
  min-width: 100%;
  @include footer-centered(flex, center);

  &__content {
    margin: convert-rem(40) convert-rem(35);
    @include footer-centered(flex, center);

    &_header {
      @include headers(#fefefe);
      @media (min-width: 768px) {
        @include fonts(16px, 22px);
      }
    }

    &_txt {
      margin: convert-rem(8) auto 0;
      width: auto;
      @include paragraph($txt-color);
      .txt-shows {
        display: none;
      }

      @media (min-width: 768px) {
        @include fonts(16px, 28px);

        width: 70%;
        .txt-shows {
          display: inline;
        }
      }
    }

    .contact {
      @include paragraph($txt-color);
      @include footer-centered(flex);

      &__link {
        text-decoration: none;
        @include font-style(14px, $txt-color);

        span::before,
        span::after {
          content: "\00A0";
        }

        @media (min-width: 768px) {
          @include fonts(16px, 26px);
        }
      }
    }
  }
}
