//local variebles & mixins
@import "_footerMixin";
@import "_footerVar";
@import "../convert";

.social-links__list {
  margin: convert-rem(26) auto;
  @include footer-centered(flex, $flex-dir: row);

  .list__item {
    margin: convert-rem(5);
  }

  .item_ico {
    width: 34px;
    height: 34px;
    text-decoration: none;

    @include footer-centered(flex, center);
    @include border-link();

    .fas,
    .fab {
      width: 10px;
      height: 10px;
    }
  }

  @each $name, $color in $list-color-link {
    .color_#{$name} {
      @include footer-centered();
      color: $color;
      border-color: $color;
    }
  }
}
